<!--Timer-->
<div class="timer-container-top">
  <div class="timer-question-container">
    <span class="numbers-timer-question">20</span>
  </div>
</div>
<!--Img of Question-->
<div class="second-container-logo">
  <div class="container-logo-questions">
    <img src="/assets/calendar.png" />
  </div>
</div>
<!--Type of Question-->
<div class="container-name-question">
  <h1 class="title-question-type">Historia</h1>
</div>
<!--The Question-->
<div class="perfect-question-container">
  <div class="container-mid-question">
    <h2 class="perfect-question">¿En qué año se fundó Peñarol?</h2>
  </div>
</div>
<!--Answers-->
<!--Answer 1-->
<div class="first-container-answers">
  <div class="the-container-button">
    <div class="correct-answer">
      <img src="assets/check-circle.png" class="img-correct-answer" />
    </div>
    <button class="container-button-answers">1891</button>
  </div>
</div>
<!--Answer 2-->
<div class="first-container-answers">
  <div class="the-container-button">
    <button class="container-button-answers incorrect-answer">1903</button>
  </div>
</div>
<!--Answer 3-->
<div class="first-container-answers">
  <div class="the-container-button">
    <button class="container-button-answers incorrect-answer">1901</button>
  </div>
</div>
<!--Answer 4-->
<div class="first-container-answers">
  <div class="the-container-button">
    <button class="container-button-answers incorrect-answer">¿Que es Peñarol?</button>
  </div>
</div>
<!--Modal page-->
<div class="all-modal-container">
  <div class="modal-container">
    <div class="img-modal-container">
      <img src="/assets/alarm-clock.png"/>
    </div>
    <div class="text-modal-container">
      <span class="text-in-modal">Espera mientras el resto de los participantes terminan de responder :)</span>
    </div>
  </div>
</div>
