<span *ngIf="!question || question.questionId == 0">
  <div class="loader"></div>
</span>
<!--Timer-->
<!-- <div class="timer-container-top">
  <div class="timer-question-container">
    <span class="numbers-timer-question">{{timer}}</span>
  </div>
</div> -->
<div *ngIf="question && question.questionId > 0">
  <!--Img of Question-->
  <div class="second-container-logo">
    <div class="container-logo-questions">
      <img src="{{question.category.categoryLogo}}" />
    </div>
  </div>
  <!--Type of Question-->
  <div class="container-name-question">
    <h1 class="title-question-type">{{question.category.categoryName}}</h1>
  </div>
  <!--The Question-->
  <div class="perfect-question-container">
    <div class="container-mid-question">
      <h2 class="perfect-question">{{question.questionText}}</h2>
    </div>
  </div>
  <!--Answers-->
  <div class="first-container-answers" *ngFor="let answer of question.answers">
    <div class="the-container-button" (click)="submitAnswer(answer.answerId)">
      <div class="correct-answer" *ngIf="isCorrect(answer.answerId) && submitted">
        <img src="assets/check-circle.png" class="img-correct-answer" />
      </div>
      <button class="container-button-answers" 
      [ngClass]="{'incorrect-answer': isCorrect(answer.answerId) && submitted }">
        {{answer.answerLetter}} - {{answer.answerText}}</button>
    </div>
  </div>
</div>