<div class="screen-waiting-container">
  <div class="screen-title-container">
    <img src="/assets/group-3.png" class="styles-img-waiting"/>
  </div>
  <!--Timer Dsiplay-->
  <div class="screen-timer-waiting">
    <div class="screen-timer-waiting-container" *ngIf="startGame">
      <span class="screen-timer-number">{{timer}}</span>
    </div>
  </div>
  <app-users-girls></app-users-girls>
  <!--Footer Container-->
  <div class="screen-footer-container">
    <img src="/assets/page-1@2x.png" class="screen-img-footer" />
  </div>
</div>
