<div class="screen-podium-container">
  <div class="screen-title-podium-container">
    <img src="/assets/group-3.png" class="img-title-podium" />
  </div>
  <div class="screen-podium-positions">
    <!--Girls Wining-->
    <div class="people-container" *ngIf="winners">
      <!--Second Place-->
      <div class="second-place-podium">
        <img src="{{this.winners[1].participantImg}}" class="img-girl-container" />
        <h1 class="girl-name-container">{{this.winners[1].participantName}}</h1>
      </div>
      <!--First Place-->
      <div class="first-place-podium">
        <img src="{{this.winners[0].participantImg}}" class="img-girl-container" />
        <h1 class="girl-name-container">{{this.winners[0].participantName}}</h1>
      </div>
      <!--Third Place-->
      <div class="third-place-podium">
        <img src="{{this.winners[2].participantImg}}" class="img-girl-container" />
        <h1 class="girl-name-container">{{this.winners[2].participantName}}</h1>
      </div>
    </div>
    <!--Podium Girls-->
    <img src="/assets/group-11.png" />
  </div>
</div>