<div class="screen-podium-container">
  <div class="screen-title-podium-container">
    <img src="/assets/group-3.png" class="img-title-podium"/>
  </div>
  <div class="screen-podium-positions">
    <!--Girls Wining-->
    <!--First Place-->
    <div class="people-container first-place-podium">
      <img src="/assets/example.png" class="img-girl-container" />
      <h1 class="girl-name-container">Andreina</h1>
    </div>
    <!--Second Place-->
    <div class="people-container second-place-podium">
      <img src="/assets/example.png" class="img-girl-container" />
      <h1 class="girl-name-container">Silvana</h1>
    </div>
    <!--Third Place-->
    <div class="people-container third-place-podium">
      <img src="/assets/example.png" class="img-girl-container" />
      <h1 class="girl-name-container">Mavi</h1>
    </div>
    <!--Podium Girls-->
    <img src="/assets/group-11.png" />
  </div>
</div>
