<form [formGroup]="sessionForm" (ngSubmit)="submitSession()">
  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <input matInput placeholder="Imagen" formControlName="ParticipantImg" />
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field>
          <input matInput placeholder="Nombre" formControlName="ParticipantName" />
          <mat-error *ngIf="sessionForm.get('ParticipantName').hasError('required') && this.submitted">
            El nombre seleccionado ya existe
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </fieldset>
  <fieldset class="controls">
    <div class="controls-container">
      <button type="submit" class="ge-btn-default btn-accept">
        <span *ngIf="!loading">Ingresar</span>
        <!-- <span *ngIf="loading">
          <fa name="spinner" animation="spin"></fa>
        </span> -->
      </button>
    </div>
  </fieldset>
</form>