
  <div class="techy-logo">
    <img src="/assets/group-3.png" />
  </div>
  <div class="onetree-logo">
    <img src="/assets/page-1.png"/>
  </div>
  <div class="welcome-banner">
    <p class="welcome-banner-title">¡Bienvenidas!</p>
  </div>
  <form [formGroup]="sessionForm" (ngSubmit)="submitSession()">
    <fieldset>
      <div class="row">
        <div class="col-md-12 img-box">
            <a (click)="file.click()" class="file-btn-wrapper">
              <div *ngIf="fileUrl!=null" class="center-cropped"
                [ngStyle]="{ 'background-image': 'url(' + fileUrl + ')' }" 
                [ngClass]="{'backgroundloading': loadingfile }">
              </div>
              <div class="file-upload">
                <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files, $event)"
                  style="display:none;" accept="image/*">
              </div>
            </a>
        </div>
        <div class="col-md-12">
          <input matInput placeholder="Nombre" formControlName="ParticipantName" class="name-input"/>
          <mat-error *ngIf="sessionForm.get('ParticipantName').hasError('required') && this.submitted"
          class="input-error">
            Escribe un nombre para ingresar
          </mat-error>
          <div *ngIf="duplicateError" class="input-error">
            El nombre seleccionado ya existe
          </div>
          <div *ngIf="error" class="input-error">
            Error de conexión, intente actualizar la página
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="controls">
      <div class="button-center-container">
        <button type="submit" class="ge-btn-default btn-accept">
          <span *ngIf="!loading&&!loadingfile">INGRESAR</span>
          <span *ngIf="loading||loadingfile">
            <div class="loader"></div>
          </span>
        </button>
      </div>
    </fieldset>
  </form>
