@import "~styles/palette";
.all-modal-container {
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;

  .modal-container {
    height: 100%;
    position: relative;
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $simple-white;

    .img-modal-container {
      height: 200px;
      position: relative;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    .text-modal-container {
      height: 100px;
      width: 252px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;

      .text-in-modal {
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        color: $beautifull-red;
        line-height: 1.2;
      }
    }
  }
}
