<div class="screen-public-container">
  <div class="screen-top-container">
    <img src="/assets/group-3.png" class="screen-img-top" />
    <div class="screen-timer-question">
      <span class="time-resposive">20</span>
    </div>
  </div>
  <!--Title Question-->
  <div class="screen-title-question">
    <img src="/assets/calendar@2x.png" class="img-title-question" />
    <h1 class="screen-name-title">Historia</h1>
  </div>
  <!--The Question-->
  <div class="type-question-name">
    <p class="simple-question">¿En qué año se fundó Peñarol?</p>
  </div>
  <app-users-girls></app-users-girls>
  <!--Footer Container-->
  <div class="screen-footer-question">
    <img src="/assets/page-1@2x.png" class="img-footer-container"/>
  </div>
</div>
