<div class="screen-public-container">
  <div class="screen-top-container">
    <img src="/assets/group-3.png" class="screen-img-top" />
    <div class="screen-timer-question">
      <span class="time-resposive">{{timer}}</span>
    </div>
  </div>
  <!--Title Question-->
  <div class="screen-title-question">
    <img src="/assets/calendar@2x.png" class="img-title-question" />
    <h1 class="screen-name-title">{{question.category.categoryName}}</h1>
  </div>
  <!--The Question-->
  <div class="type-question-name">
    <p class="simple-question">{{question.questionText}}</p>
  </div>
  <app-users-girls></app-users-girls>
  <!--Footer Container-->
  <div class="screen-footer-question">
    <img src="/assets/page-1@2x.png" class="img-footer-container"/>
  </div>
</div>
