@import "~styles/palette";

.screen-people-container {
  position: relative;
  margin-top: 100px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .people-container {
    width: 160px;
    height: 160px;
    position: relative;
    margin: 10px 0px;

    .img-girl-container {
      height: 96px;
      width: 96px;
      justify-content: center;
      align-items: center;
      display: flex;
      margin: auto;
      margin-bottom: 16px;
      border-radius: 100%;
    }

    .girl-name-container {
      font-size: 24px;
      text-align: center;
      color: $simple-white;
      line-height: 1.33;
      margin: 0px;
    }
  }
}
